.box{
    width: 200px;
    height: 100px;
   border: 2px ridge black;
   border-radius: 20px;
   text-align: center;
   vertical-align: middle;
   padding-top: 30px;
   background-color: ghostwhite;
}